.git
.agents
.codex
.aws
**/node_modules
**/dist
backend/.env
backend/data/*
!backend/data/files/
backend/data/files/*
!backend/data/files/pictures/
backend/data/files/pictures/*
!backend/data/files/pictures/builtin/
!backend/data/files/pictures/builtin/**
**/*.sqlite
**/*.sqlite-shm
**/*.sqlite-wal
old/
