@import "tailwindcss";

@font-face {
  font-family: "Silkscreen";
  src: url("./assets/fonts/Silkscreen-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  background-color: black;
  color: white;
  font-family: "Silkscreen", monospace;
}
